<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recruitment Plan - HRMS</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:replace="~{fragments/header :: header-content}"></div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Create New Recruitment Plan</h1>
                <div>
                    <a th:href="@{/admin/pages/recruitmentplan/list}" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>

            <!-- Add form similar to employee/create.html but with relevant fields -->

        </main>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
